@import './Constants.css';

.cart {
    display: block;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
    height: 100vh;
    transform: translateX(100%);
    overflow-y: auto;
    transition: 1s ease;
    padding: 20px;
}

.cartHeader {
    font-family: var(--Oswald);
}

.cartProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: var(--Product-Border);
}

.productCartImageContainer {
    transform: translateX(-5%);
    width: 100%;
}

.cartDetails {
    display: grid;
    place-content: center;
    width: 100%;
}

.cartButtons {
    display: flex;
    justify-content: center;
}

.totalCheckout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.total,
.checkout {
    font-family: var(--Oswald);
    margin: 10px;
}

.checkout {
    background-color: white;
    border: var(--Quantity-Border);
    cursor: pointer;
    transition: 0.5s ease;
}

.checkout:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width: 300px) {
    .cart {
        width: 80%;
    }

    .cartProducts {
        padding: 20px;
    }

    .productCartImage {
        height: 80px;
    }

    .jeweleryCartImage {
        height: 50px;
    }

    .cartDetails {
        margin-left: 10px;
    }

    .productCartName {
        font-size: 0.6rem;
    }

    .productCartPrice {
        font-size: 0.6rem;
    }

    .priceFormContainer {
        margin: 5px;
    }

    .cartButtons {
        margin: 5px;
    }

    .total {
        font-size: 1.2rem;
    }

    .checkout {
        font-size: 1rem;
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (min-width: 600px) {
    .cart {
        width: 40%;
    }
}

@media screen and (min-width: 1000px) {
    .productCartImage {
        height: 90px;
    }

    .jeweleryCartImage {
        height: 60px;
    }

    .productCartName {
        font-size: 0.8rem;
    }

    .productCartPrice {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1200px) {
    .cart {
        width: 20%;
    }
}
