@import './Constants.css';

.titleSection {
    position: relative;
    display: grid;
    place-content: center;
    height: 100vh;
    margin-bottom: 10px;
}

#landingVideo {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    height: 100vh;
    min-width: 100%;
}

.landingTitle {
    font-family: var(--Oswald);
    color: white;
    text-align: center;
    padding: 10px;
}

.categories {
    display: grid;
    place-content: center;
}

.categoryHeader {
    font-family: var(--Oswald);
    text-align: center;
}

.categoryName {
    color: black;
}

@media screen and (min-width: 350px) {
    .categoryContainer {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        height: 100%;
        width: 100%;
    }

    .categoryHeader {
        margin-bottom: 20px;
    }

    .category {
        margin: 10px;
    }

    .categoryLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .categoryImage {
        height: 130px;
        margin-bottom: 10px;
    }

    .categoryName {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 600px) {
    .categoryContainer {
        display: flex;
    }

    .categoryImage {
        height: 120px;
    }
}

@media screen and (min-width: 720px) {
    .categoryImage {
        height: 150px;
    }
}

@media screen and (min-width: 1000px) {
    .landingTitle {
        font-size: 3rem;
    }

    .categoryImage {
        height: 200px;
    }

    .categoryName {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .categoryHeader {
        font-size: 3rem;
    }

    .categoryImage {
        height: 350px;
    }
}
