@import './Constants.css';

* {
    font-family: var(--Noto);
}

nav,
ul {
    display: flex;
    align-items: center;
}

nav {
    justify-content: center;
}

ul {
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

nav a {
    color: black;
}

a {
    text-decoration: none;
}

.logo {
    font-family: var(--Oswald);
}

.navProducts {
    font-weight: 600;
}

.cartLogoContainer {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.cartLogo {
    font-size: 1.8rem;
}

@media screen and (min-width: 320px) {
    nav {
        padding: 10px 20px 10px 20px;
    }

    li {
        margin: 0px 3px 0px 3px;
    }
}

@media screen and (min-width: 600px) {
    .navProducts {
        font-size: 1.2rem;
    }

    .logo {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .navProducts {
        font-size: 1.5rem;
    }

    .logo,
    .cartLogo {
        font-size: 2.5rem;
    }

    .cartLength {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1600px) {
    .navProducts {
        font-size: 1.2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .cartLogo {
        font-size: 2rem;
    }

    .cartLength {
        font-size: 1.2rem;
    }
}
